@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
}
